.icons {
  display: grid;
  grid-template-columns: repeat(
    auto-fit,
    minmax(90px, 1fr)
  );
  gap: 20px;
  padding: 20px;
  justify-items: center;
  align-items: center;
  width: 100%;

  margin-top: 16px;
  @media (max-width: 1187px) {
    grid-template-columns: repeat(
      auto-fit,
      minmax(80px, 1fr)
    );
    gap: 10px;
  }
  @media (max-width: 511px) {
    grid-template-columns: repeat(
      auto-fit,
      minmax(60px, 1fr)
    );
    gap: 10px;
  }
  &::-webkit-scrollbar {
    display: none;
  }
  scrollbar-width: none;
  -ms-overflow-style: none;
  .icon {
    flex-shrink: 0;
    margin: 0 4px;
    padding: 8px;
    width: 68px;
    height: 68px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border: 1px solid transparent;
    border-radius: 8px 8px 0 0;
    transition: all 0.3s ease;
    &:hover {
      background-color: rgb(199, 196, 196);
      transform: translateY(-2px);
    }
  }

  .selected {
    background-color: #fff;
    border: 2px solid #000;
    transform: translateY(-4px);
    z-index: 1;
  }
}
