.icons {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 0 8px;
  width: 100%;
  height: 75px;
  margin-top: 16px;
  overflow-y: visible;
  overflow-x: scroll;
  // scroll bar setting to hide on all browsers
  /* Hide the scrollbar in WebKit browsers (Chrome, Safari) */
  &::-webkit-scrollbar {
    display: none;
  }
  /* Hide the scrollbar in Firefox */
  scrollbar-width: none;
  -ms-overflow-style: none; /* For Internet Explorer and Edge */
  .icon {
    flex-shrink: 0;
    margin: 0 4px;
    padding: 8px;
    width: 68px;
    height: 68px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border: 1px solid transparent;
    border-radius: 8px 8px 0 0;
    background-color: #f0f0f0;
    transition: all 0.3s ease;
    &:hover {
      background-color: rgb(199, 196, 196);
      transform: translateY(-2px);
    }
  }

  .selected {
    background-color: #fff;
    border: 2px solid #000;
    transform: translateY(-4px);
    z-index: 1;
  }
}
