.technologiesLayer {
  background: #fff;
  height: 400px;
  margin: 32px;
  padding: 16px;
  border-radius: 8px;
}
.icons {
  height: 80px;
  display: flex;
  justify-content: space-around;
  .icon {
    margin: 0 2px;
  }
}
.selected {
  background-color: grey;
}
