@import '../constants/constants.scss';

.container {
  background-color: #000;
}
.main {
  min-height: 100vh;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #000;
}

.technologiesLayer {
  background: $white;
  min-height: 200px;
  height: fit-content;
  width: calc(100% - 64px);
  margin: 32px auto;
  padding: 16px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  h2 {
    font-size: 32px;
    line-height: 48px;
    font-weight: 600;
  }
}
