.container {
}
.main {
  min-height: 100vh;
  flex: 1;
  display: flex;
  flex-direction: column;
  //   justify-content: center;
  align-items: center;
  background: #fafafa;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
  text-align: center;
  color: #333;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  width: 100%;
  max-width: 1200px;
  margin-top: 3rem;
}

.column {
  padding: 2rem;
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  text-align: center;
  font-size: 1.2rem;
  color: #333;
}

.column:hover {
  background: #eaeaea;
}
