.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  padding: 1rem 2rem;
  background: #000;
  color: white;
  transition: height 0.2s, padding 0.2s;
  position: sticky;
  top: 0;
  z-index: 2;
  font-weight: 700;
  h1 {
    width: fit-content;
  }
  @media (max-width: 320px) {
    padding: 3px;
  }
}

.scrolled {
  height: 50px;
  padding: 0.5rem 2rem;
}

.left {
  font-size: 1.5rem;
}

.right {
  display: flex;
  gap: 1rem;
  @media (max-width: 440px) {
    display: none;
  }
}

.button {
  background: none;
  color: white;
  padding: 0.5rem 1rem;
  cursor: pointer;
  transition: background 0.3s, color 0.3s;
}

.button:hover {
  background: white;
  color: #333;
}
